<form #transaction="ngForm">
  <custom-input name="description" [(ngModel)]="description" type="description" placeholder="Description"> </custom-input>
  <custom-input name="delivery_fee" [(ngModel)]="delivery_fee" type="text" placeholder="Delivery Fee"> </custom-input>
  <custom-input name="vendor_id" [(ngModel)]="select" [options]="vendors" type="select" placeholder="Select Vendor"> </custom-input>

  <button mat-button type="submit" (click)="onCreateTransaction(transaction.value)" cdkFocusInitial>Create</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</form>

