<div class="row">
  <div class="col-md-6 activity">
    <div class="card">
      <div class="timeline">
        <p *ngFor="let content of fillerContent" class="arrow_box">
          <span class="timeline-circle">{{content}}
            <div class="timestamp">5:00pm</div>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 statistics">
    <div class="card">

    </div>
  </div>

  <!-- <div class="col-md-5 calendar-container">
    <div class="card">
      <shared-calendar></shared-calendar>
    </div>
  </div> -->
</div>