<!-- ORDER ITEMS -->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding: 5px 0px 5px 30px;">
      <mat-card class="col-md-12" style="display:flex;flex-direction:row;justify-content:space-between">
        <mat-card-header>
          <img mat-card-avatar [src]="transaction?.Vendor.image || defaultVendorImage" alt="{{ transaction?.Vendor.name }} image">
          <mat-card-title>{{ transaction?.Vendor.name }}</mat-card-title>
          <mat-card-subtitle>{{ formatDates(transaction?.created_at.raw).shortDate }} {{ formatDates(transaction?.created_at.raw).time }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-raised-button color="warn" (click)="openAddOrderDialog(transaction?.id, transaction?.Vendor.id)">Order NOW!</button>
      </mat-card>
    </div>
  </div>
  <div class="row order-row">
    <div class="col-md-8 order-items-panel">
      <div class="col-md-6" *ngFor="let order of transactionOrders">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar [src]="order.User.image || defaultUserImage" alt="{{ order.User.name }} image">
            <mat-card-title>{{ order.User.full_name }}</mat-card-title>
            <mat-card-subtitle>{{ formatDates(order.created_at.raw).shortDate }} {{ formatDates(order.created_at.raw).time }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let orderItem of order.OrderItems">
                <div class="order-item-container">
                  <div class="img-container">
                    <img [src]="orderItem.Product.image || defaultProductImage" alt="{{ orderItem.Product.name }} image" class="product-image">
                  </div>
                  <div class="order-item-details">
                    <span>{{ orderItem.Product.name }}</span>
                    <span>₱ {{ orderItem.Product.price | number: '.2' }} x {{ orderItem.quantity }}{{ (orderItem.quantity > 1)
                      ? 'pcs': 'pc' }}</span>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
            <!-- <div class="comment-container" *ngIf="order.comment">
              <h3>Comments:</h3>
              <span>{{ order.comment }}</span>
            </div> -->
            <div class="total-sum-container">
              <h2>₱ {{ calculateTotalSum(order.OrderItems) | number:'.2'}}</h2>
            </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <!-- TRANSACTION SUMMARY -->
    <div class="col-md-4 transaction-host-panel">
      <mat-card class="col-md-12">
        <mat-card-header>
          <img mat-card-avatar [src]="transaction?.Host.image || defaultUserImage" alt="{{ transaction?.Host.name }} image">
          <mat-card-title>{{ transaction?.Host.full_name }}</mat-card-title>
          <mat-card-subtitle>{{ transaction?.Host.nickname }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let product of transactionSummary.products">
              <div class="order-item-container">
                <div class="img-container">
                  <img [src]="product.image || defaultProductImage" alt="{{ product.name }} image" class="product-image">
                </div>
                <div class="order-item-details">
                  <span>{{ product.name }}</span>
                  <span>₱ {{ product.price | number: '.2' }} x {{ product.quantity }}{{ (product.quantity > 1) ? 'pcs': 'pc' }}</span>
                </div>
              </div>
            </mat-list-item>
            <div class="total-sum-container">
              <h2>₱ {{ transactionSummary.sum | number:'.2'}}</h2>
            </div>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
