@import 'variables';

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .product-image {
    border: 1px solid white;
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
}

.transaction-host-panel{
  margin-top:10px;
}

.order-row{
  .order-items-panel{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      margin-top:10px;
    }

    .comment-container {
      display: flex;
      flex-direction: column;
    }

    .total-sum-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $red;
    }
  }
}

.order-item-container {
  display: flex;

  .order-item-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-evenly;
  }
}
