@import 'variables';

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .product-image {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
}

.transaction-host-panel{
  margin-top: 10px;
  padding: 0;
}

.order-row{
  .order-items-panel{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      margin-top:10px;
    }

    .comment-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.total-sum-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $red;
}

.order-item-container {
  display: flex;
  flex-direction: column;
  height: auto;
  transition: border 0.3s;

  &:hover{
    .order-item-actions{
      right:0;
      opacity:1;
    }
  }

  .order-item-actions{
    display:flex;
    align-items: center;
    position: absolute;
    right:-50px;
    height:100%;
    transition: 0.3s;
    background: rgba(255,255,255, 0.7);
    opacity:0;

    .edit, .cancel{
      color: $white;
      margin: 0 8px;
      cursor:pointer;
      transition: 0.3s ease;
    }

    .edit{
      background-color:$green;

      &:hover{
        color:$green;
        background-color: $white;
        border:1px solid $green;
      }
    }
    .cancel{
      background-color:$red;

      &:hover{
        color:$red;
        background-color: $white;
        border:1px solid $red;
      }
    }

  }

  .order-item {
    display: flex;
    margin-bottom: 10px;
    position:relative;

    .order-item-details {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: space-evenly;
    }


  }

  .order-item-comments {
    display: flex;
    flex-direction: column;

    .comment-text {
      font-weight: bold;
    }

    .comment-list {
      margin-bottom: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}



.summary-comment-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
