@import 'variables';

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;


  .image {
    border: 1px solid $white;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    object-fit: contain;
  }
}

.transaction-host-panel{
  margin-top:10px;
}

.order-row{
  .order-items-panel{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    div{
      margin-top:10px;
    }
  }
}
