<pre>
    {{ transaction | json }}
</pre>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
            <div class="img-container">
                <img class="image" [src]="transaction?.Vendor.image || defaultVendorImage">
            </div>
        </div>
        <div class="col-md-2">
          {{ transaction.Vendor.name }}
          {{ formatDates(transaction.created_at.raw).shortDate }}
          {{ formatDates(transaction.created_at.raw).time }}
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary">Order NOW!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" style="display:flex;flex-direction:row;flex-wrap:wrap">
      <div class="col-md-6" style="margin-top:10px;" *ngFor="let x of [1,2,3,4]">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>
