<mat-form-field *ngIf="type !=  'select'">

  <input
  matInput
  [(ngModel)]="value"
  [name]="name"
  #fomInput="ngModel"
  class="form-control"
  (blur)="onBlur()"
  [required]="required"
  [email]="email"
  [placeholder]="placeholder"
  [type]="type"
  >

  <mat-error *ngIf="fomInput.errors?.email && !fomInput.errors?.required">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="fomInput.errors?.required">
    {{ name }} is <strong>required</strong>
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="type ==  'select'">
    <mat-select  [(ngModel)]="value">
      <mat-option *ngFor="let option of options" [value]="option.value">
        <div style="display: flex; align-items: center;">
          <img style="width: 2.5em; margin-right: 0.5em;" src="{{ option.image }}" />
          {{ option.viewValue }}
        </div>
      </mat-option>
    </mat-select>
</mat-form-field>

