<div class="login-container">
  <div class="login-content">
    <div class="form-container">
      <img src="/assets/logo.png">
      <div class="info-container" *ngIf="fromRegistration">
        <div class="item info">
          <span>Please login with your username/email.</span>
        </div>
      </div>
      <div class="info-container" *ngIf="fromLogout">
        <div class="item info">
          <span>You have successfully logged out.</span>
        </div>
      </div>
      <div class="info-container" *ngIf="errorMessage">
        <div class="item error">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <custom-input name="username" [(ngModel)]="username" type="text" placeholder="Email/Username" required></custom-input>
        <custom-input name="password" [(ngModel)]="password" type="password" placeholder="Password" required></custom-input>
        <button class="login-button" mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <a class="register-link" (click)="goToRegistrationPage()">Don't have an account yet? Sign up now!</a>
    </div>
  </div>
</div>
