<div class="login-container">
  <div class="login-content">
    <div class="form-container">
      <img src="/assets/logo.png">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <custom-input name="username" [(ngModel)]="username" type="email" placeholder="Email" email required></custom-input>
        <custom-input name="password" [(ngModel)]="password" type="password" placeholder="Password" required></custom-input>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <a class="register-link" (click)="goToRegistrationPage()">Don't have an account yet? Sign up now!</a>
    </div>
  </div>
</div>
