<div class="container">
  <div class="row">
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>
          <!-- <h2 class="example-h2">{{ user?.full_name }}</h2> -->
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Orders">
              <div class="tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam
                cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor
                sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
                Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam
                placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div>
            </mat-tab>

            <mat-tab label="Transactions">
              <div class="tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam
                cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor
                sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
                Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam
                placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div>
            </mat-tab>

            <mat-tab label="Statistics">
              <div class="tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam
                cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor
                sapien arcu a tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
                Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam
                placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div>
            </mat-tab>

            <mat-tab label="Edit profile" *ngIf="isCurrentLoggedInUser">
              <div class="tab-content edit-profile-form">
                <form #editProfileForm="ngForm" (ngSubmit)="onSubmitEditProfile(editProfileForm.value)">
                  <input name="id" [(ngModel)]="editProfileFormData.id" type="hidden">
                  <div class="row">
                    <div class="col-md-6">
                      <custom-input name="nickname" [(ngModel)]="editProfileFormData.nickname" type="text" placeholder="Nickname"></custom-input>
                      <custom-input name="first_name" [(ngModel)]="editProfileFormData.first_name" type="text" placeholder="First name"></custom-input>
                      <custom-input name="middle_name" [(ngModel)]="editProfileFormData.middle_name" type="text" placeholder="Middle name"></custom-input>
                      <custom-input name="last_name" [(ngModel)]="editProfileFormData.last_name" type="text" placeholder="Last name"></custom-input>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field>
                        <input name="birthdate" [(ngModel)]="editProfileFormData.birthdate" matInput [matDatepicker]="myDatepicker" placeholder="Birthdate">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                      </mat-form-field>

                      <custom-input name="image" [(ngModel)]="editProfileFormData.image" type="text" placeholder="Image URL"></custom-input>
                      <custom-input name="caption" [(ngModel)]="editProfileFormData.caption" type="textarea" placeholder="Say something about yourself"></custom-input>
                    </div>
                  </div>
                  <button mat-raised-button type="submit">Submit</button>
                </form>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ user?.full_name }}
            <span *ngIf=user?.nickname>({{ user?.nickname }})</span>
          </mat-card-title>
          <mat-card-subtitle>@{{ user?.username }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="user?.image || 'assets/user.png'" />
        <mat-card-content>
          <p class="user-info-section">
            <label>About:</label>
            <span>{{ user?.caption || 'No details about this user' }}</span>
          </p>
          <p class="user-info-section">
            <label>E-mail:</label>
            <span>{{ user?.email }}</span>
          </p>
          <p *ngIf="user?.birthdate" class="user-info-section">
            <label>Birthdate:</label>
            <span>{{ user.birthdate.formatted_complete }}</span>
          </p>
          <p class="user-info-section">
            <label>Member since:</label>
            <span>{{ user?.created_at.formatted_complete }}</span>
          </p>
          <p class="user-info-section">
            <label>Last active:</label>
            <span>{{ user?.last_active.formatted_complete }}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
