<div class="user-profile-container">
  <div class="user-profile-content">
    <div class="user-info-container">
      <div class="user-info-content">
        <div class="logo-container">
          <div class="logo">
            <img src="/assets/logo-inline.png"/>
          </div>
        </div>
        <div class="user-picture">
          <img src="/assets/user.png">
        </div>
        <div class="user-details">
          <p>Jon Doe</p>
          <p>27</p>
          <p>M</p>
        </div>
      </div>
    </div>
    <div class="activities">
      <div class="activity cards">
        <h3>Activities</h3>
        <p>Lorem ipsum dolor sit amet, no vis honestatis reprehendunt, ex qui utinam labitur commune, at duo illud graece invidunt.
          Te errem periculis sit, iusto audire voluptua id nec, cu sed error adipisci sadipscing. Qui assentior scriptorem
          no. Placerat dissentias et sea. Te per urbanitas tincidunt accommodare, quo cu albucius conceptam scripserit, eos
          cu rebum convenire voluptatum.</p>
      </div>
      <div class="personal-reference cards">
        <h3>Personal Reference</h3>
        <p>Lorem ipsum dolor sit amet, no vis honestatis reprehendunt, ex qui utinam labitur commune, at duo illud graece invidunt. Te errem periculis sit, iusto audire voluptua id nec, cu sed error adipisci sadipscing. Qui assentior scriptorem no. Placerat dissentias et sea. Te per urbanitas tincidunt accommodare, quo cu albucius conceptam scripserit, eos cu rebum convenire voluptatum.</p>
      </div>
    </div>
  </div>
</div>