<div class="timeline-item">
  <mat-card class="arrow_box">
    <mat-card-header>
      <img mat-card-avatar [src]="timelineItem.Host.image || defaultUserImage" alt="{{ timelineItem.Host.username }} image">
      <mat-card-title>{{ timelineItem.Host.full_name }}</mat-card-title>
      <mat-card-subtitle>{{ formatDates(timelineItem.created_at).shortDate }} {{ formatDates(timelineItem.created_at).time }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="vendor-image" (click)="goToTransactionPage()" [src]="timelineItem.Vendor.image || defaultVendorImage" alt="{{ timelineItem.Vendor.name }} image">
    <mat-card-content class="card-content">
      <p class="order-count-section">
        <span><strong>{{ timelineItem.Orders.length }}</strong> orders placed.</span>
      </p>
      <p class="description-section" *ngIf="timelineItem.description">
        {{ timelineItem.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToTransactionPage()">Join</button>
    </mat-card-actions>
  </mat-card>
</div>
