.order-form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .add-product-form-container{
    display:flex;
    width:100%;
    align-items: center;
  }

  .quantity-input {
    margin-left: 10px;
  }

  .add-order-button {
    margin-left: 10px;
  }

  .submit-order-container{
    display:flex;
    flex-direction: column;
    width:100%;
  }
}

.order-items-table-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .total-sum-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    h2 {
      color: red;
    }
  }
}

td {
  text-align: center;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .img-container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

    .product-image {
      border: 1px solid white;
      height: 50px;
      width: 50px;
      object-fit: contain;
    }
  // }

  .product-name {
    margin-left: 10px;
  }
}
