<div class="order-items-table-container" *ngIf="orderItems.length > 0">
  <table class="order-items-table" matSort (matSortChange)="sortData($event)">
    <tr>
      <th class="table-header" mat-sort-header="name">Product Name</th>
      <th class="table-header" mat-sort-header="price">Price</th>
      <th class="table-header" mat-sort-header="total">Sum</th>
      <th class="table-header" mat-sort-header="quantity">Quantity</th>
      <th class="table-header" mat-sort-header="comment" disabled="true">Comment</th>
    </tr>
    <tr *ngFor="let orderItem of orderItems">
      <td>
        <div>
          <img [src]="orderItem.product.image || defaultProductImage" alt="" class="product-image">
          <span class="product-name">{{ orderItem.product.name }}</span>
        </div>
      </td>
      <td>
        <div>
          <span>₱ {{ orderItem.product.price | number:'.2' }}</span>
        </div>
      </td>
      <td>
        <div>
          <span>₱ {{ orderItem.product.price * orderItem.quantity | number:'.2' }}</span>
        </div>
      </td>
      <td>
        <div>
          {{ orderItem.quantity }}
        </div>
      </td>
      <td>
        <div>
          <span>
            {{ orderItem.comment }}
          </span>
        </div>
      </td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <div class="total-sum-container">
    <h2>Total: ₱ {{ calculatedTotalSum | number:'.2' }}</h2>
  </div>
</div>


<form>
  <div class="order-form-input-container">
    <div class="add-product-form-container">
      <div class="col-md-10">
        <div class="col-md-12 row">
          <div class="col-md-8">
            <mat-form-field>
              <input name="Product" matInput placeholder="Products" aria-label="Products" [matAutocomplete]="auto" [formControl]="productCtrl">
              <mat-autocomplete [displayWith]="getProductName" (optionSelected)="getSelectedProduct($event.option.value)" #auto="matAutocomplete">
                <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                  <img style="vertical-align:middle;" aria-hidden src="{{product.image}}" height="25" />
                  <small>
                    {{ product.name }}
                  </small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <custom-input name="Quantity" [(ngModel)]="orderItemInput.quantity" class="quantity-input" type="number" min="1" placeholder="Quantity"></custom-input>
          </div>
        </div>
        <div class="col-md-12">
          <custom-input type="textarea" name="Comment" placeholder="Additional comments" [(ngModel)]="orderItemInput.comment"></custom-input>
        </div>
      </div>
      <button mat-raised-button color="warn" class="add-order-button" [disabled]="!orderItemInput.product" (click)="addUpdatedItem()">Add order</button>
    </div>

    <div class="submit-order-container">
      <button mat-raised-button color="warn" class="add-order-button" [disabled]="!hasOrdered" (click)="onUpdateOrder()">Update order</button>
    </div>
  </div>

</form>
