@import 'variables';

.app-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  height: 100%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  height: 100%;
  align-items: center;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;


    .image {
      border: 1px solid $white;
      border-radius: 50%;
      height: 2.5em;
      width: 2.5em;
      object-fit: contain;
    }
  }

  .name {
    margin-right: 0.5em;
  }
}
