/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid";

// angular-calendar
@import "../node_modules/angular-calendar/scss/angular-calendar";
html, body {
    height: 100%;
}

body {
    margin: 0;
}

.mat-input-container {
    width: 100%;
    .mat-input-wrapper, .mat-form-field-wrapper {
        border-radius: 2px !important;
        .mat-input-flex, .mat-form-field-flex {
            padding: 5px;
            background: #efefef;
        }
    }
}

.dashboard {
    app-activity-area {
        width: 100%;
    }
}