/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid";

// angular-calendar
@import "../node_modules/angular-calendar/scss/angular-calendar";

@import "./assets/styles/variables";

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.mat-input-container {
    width: 100%;
}

.dashboard {
    app-activity-area {
        width: 100%;
        .row:first-child {
            width: 100%;
        }
    }
}

router-outlet + * { flex: 1 1 auto ; display: flex ; flex-direction: column ; }
