<div class="register-container">
  <div class="register-content">
    <div class="form-container">
      <h2 class="form-header">Join Food Order Manager</h2>
      <div class="error-container" *ngIf="errors.length > 0">
        <div class="error-item" *ngFor="let error of errors">
          <span><strong>{{ error.path + ': ' }}</strong>{{ error.message }}</span>
        </div>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
        <custom-input name="username" [(ngModel)]="username" type="text" placeholder="Username" required> </custom-input>
        <custom-input name="email" [(ngModel)]="email" type="email" placeholder="Email" email required> </custom-input>
        <custom-input name="password" [(ngModel)]="password" type="password" placeholder="Password" required> </custom-input>
        <custom-input name="firstName" [(ngModel)]="firstName" type="text" placeholder="First Name" required> </custom-input>
        <custom-input name="middleName" [(ngModel)]="middleName" type="text" placeholder="Middle Name"> </custom-input>
        <custom-input name="lastName" [(ngModel)]="lastName" type="text" placeholder="Last Name" required> </custom-input>

        <button class="register-button" mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      </form>
    </div>
  </div>
</div>
